/** Source Serif Fonts **/
/* Source Serif 4 */
@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("ttf");
}

/* Source Serif 3 */
@font-face {
  font-family: "Source Serif 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sourceserif3/v1/YA9dr0Wd4kDdOruthQnSgqUxBYyCoW0q4g.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
