---
layout: layouts/home.njk
permalink: /blog/archives/
eleventyNavigation:
  key: Timeline
  order: 2
renderData:
  title: Geshan's Blog Timeline
  description: "All the posts of Geshan.com.np at one place"
---
<article role="article" class='md:w-8/12 w-11/12 mx-auto mt-4' >
  <header class="page-header">
    <h1 class="entry-title text-2xl font-semibold ">Blog Timeline</h1>
  </header>
{% set postslist = collections.posts %}
{% include "postslist-h3.njk" %}
</article>