---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 1
pagination:
    data: collections.latestPosts
    size: 5
permalink: "/posts/{{ pagination.pageNumber + 1  }}/index.html"
renderData:
  title: Posts on Geshan's Blog Page {{ pagination.pageNumber + 1  }}
  description: "More posts on Geshan's Blog, page {{ pagination.pageNumber + 1  }} among many pages"
---
{% set postslist = pagination.items | reverse %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist-excerpt.njk" %}
<div class='pager-container md:w-7/12 w-11/12 mx-auto mt-4 '>
<ul class="pager flex content-center justify-center text-lg ">
    {% if pagination.href.previous %}<li class="previous list-none mr-3 inline-block"><a href="{{ pagination.href.previous }}" class='bg-purple bg-opacity-80 hover:text-purple hover:bg-white hover:border-purple border-2 border-transparent transition ease-in-out delay-100  px-3 py-2 rounded-md text-white text-justify' >←&nbsp;Newer</a></li>{% endif %}
    <li class='list-none mr-3 inline-block' ><a href="/blog/archives" class='bg-purple bg-opacity-80 hover:text-purple hover:bg-white hover:border-purple border-2 border-transparent transition ease-in-out delay-100  px-3 py-2 rounded-md text-white text-justify' >Timeline</a></li>
    {% if pagination.href.next %}<li class="next list-none mr-3 inline-block "><a href="{{ pagination.href.next }}"
     class='bg-purple bg-opacity-80 hover:text-purple hover:bg-white hover:border-purple border-2 border-transparent transition ease-in-out delay-100  px-3 py-2 rounded-md text-white text-justify'>Older&nbsp;→</a></li>{% endif %}
</ul>
<p class='mt-16'>More posts can be found in <a href="{{ '/blog/archives/' | url }}">the archive</a>.</p>
</div>


