---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 1
pagination:
  data: collections.latestPosts
  size: 5
permalink: "/posts/{{ pagination.pageNumber + 1  }}/index.html"
eleventyComputed:
  title: "Posts on Geshan's Blog Page {{ pagination.pageNumber + 1  }}"
  description: "More posts on Geshan's Blog, page {{ pagination.pageNumber + 1  }} among many pages"
---
<div class="w-full">
<div class="w-full md:max-w-6xl py-3 mx-auto md:grid md:grid-cols-12 gap-16 mt-4">
  <div class="col-span-12 md:col-span-8">
    <div class="w-full px-0 sm:px-6 md:px-0 mx-auto mt-4 sm:mt-6 md:mt-0 ">
      <h2
        class="font-heading text-3xl sm:text-4xl md:text-5xl text-gray mb-3 sm:mb-4 md:mb-6 leading-tight"
      >
        Posts
      </h2>
      {% include 'components/scroll-tags.njk' %}
    </div>
    {% set postslist = pagination.items | reverse %} {% set postslistCounter = collections.posts |
    length %} {% include "postslist-excerpt.njk" %} {% include "components/pagination.njk" %}
  </div>
  <div
    class="col-span-12 md:col-span-4 w-full md:h-screen md:relative flex flex-col items-center md:items-start md:ml-6 mt-8 md:mt-0"
  >
    {% include "sidebar/popular-picks-posts.njk" %} 
    <a
      class="list-group-item{% if tagUrl == page.url %} active{% endif %} font-body font-semibold text-gray border-b-2 border-neutralGray hover:border-avocado pb-2 mb-5 uppercase  tracking-wide"
      href="/blog/categories/"
      title="All the categories"
    >
      <span class="badge"></span>Categories</a
    >
  </div>
</div>
{% include "components/subscribe-post-page.njk" %}
</div>