---
layout: layouts/home.njk
title: Geshan's Blog
templateClass: tmpl-home
date: 2022-06-29T19:21:25.000+00:00
---

<!-- section top intro -->
<section class="bg-lightAvocado min-h-[70vh] px-4 flex items-center">
  <div class="max-w-6xl mx-auto w-full">
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 items-center justify-center text-center md:text-left"
    >
      <!-- Left side: Large serif text -->
      <div class="mt-4 md:mt-0 order-1">
        <h1 class="font-heading text-left">
          <span class="text-lightGray italic">I'm Geshan,</span><br />
          <span class="text-black">Senior Software Engineer and a Speaker.</span>
        </h1>
      </div>

      <!-- Right side: Description paragraph -->
      <div class="order-1 md:order-2 flex flex-col gap-4 items-center md:items-start">
        <p class="text-xl text-textColor md:text-xl font-body font-regular text-justify">
          <span class="text-blackText font-heading text-3xl font-medium mr-2">I</span>have more than 17 years of
          professional software engineering experience, currently located in Sydney, Australia
          serving</span>
          <a href="https://safewill.com/" target="_blank" class="font-medium text-darkAvocado">Safewill</a>
          as a Technical Lead. I am a Google Developer Expert, a technical writer blogging
          since 2007 and I have actively participated as a speaker in various events.
        </p>
        <!-- Logos section -->
        <div class="mt-4 mb-8 md:mb-0 w-full">
          <ul class="flex items-center gap-5 justify-center md:justify-start flex-wrap">
            <li>
              <img
                class="w-120 h-auto"
                src="/images/theme/laracon-amsterdam.webp"
                alt="laracon EU Amsterdam 2016 logo"
                width="120"
                height="120"
              />
            </li>

            <li>
              <img
                class="w-90 h-auto"
                src="/images/theme/dev-days.webp"
                alt="Devops Days Portland 2017"
                width="90"
                height="90"
              />
            </li>

            <li>
              <img
                class="w-75 h-auto"
                src="/images/theme/dev-days-newcastle.webp"
                alt="Devops Days New Castle 2018"
                width="75"
                height="75"
              />
            </li>

            <li>
              <img
                class="w-68 h-auto"
                src="/images/theme/laracon.webp"
                alt="Laracon AU 2019"
                width="68"
                height="68"
              />
            </li>
            <li>
              <img
                class="w-68 h-auto mr-5"
                src="/images/theme/bwai-canberra-2025.webp"
                alt="Build With AI Canberra 2025"
                width="68"
                height="68"
              />
            </li>
            <li>
              <img
                class="w-140 h-auto"
                src="/images/theme/serverless-days.webp"
                alt="Serverless Days Sydney 2019"
                width="140"
                height="140"
              />
            </li>
            <li>
              <img
                class="w-140 h-auto mr-5"
                src="/images/theme/devfest-hobart-2024.webp"
                alt="Google Devfest Hobart 2024"
                width="140"
                height="140"
              />
            </li>
            <li>
              <img
                class="w-140 h-auto mr-5"
                src="/images/theme/programmable.webp"
                alt="Programmable 2025 Sydney"
                width="140"
                height="140"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{%- include "components/subscribe-nl-new.njk" -%}
