---
layout: layouts/home.njk
title: Geshan's Blog
templateClass: tmpl-home
date: 2020-04-10T19:21:25.000+00:00
---
<div>
  <h1 class="text-5xl sm:text-7xl font-bold text-darkpurple">
    👋 I’m Geshan, Lead Software Engineer and a speaker.
  </h1>
  <p class="mt-6 text-midgrey text-2xl">
    I have more than 15+ years of professional experience, currently
    located in Sydney, AUS serving
    <span class="underline font-bold text-darkpurple"
      >the iconic</span
    >
    as a lead software engineer. I am a certified Google Developer
    Expert and I have actively participated as a speaker in
  </p>
</div>
<div class="mt-8">
  <ul class="flex items-center">
    <li class="mr-5">
      <img
        class="w-138 h-auto filter grayscale"
        src="/images/theme/laracon-amsterdam.png"
        alt="laracon amsterdam logo"
      />
    </li>

    <li class="mr-5">
      <img
        class="w-90 h-auto filter grayscale"
        src="/images/theme//dev-days.png"
        alt="laracon amsterdam logo"
      />
    </li>

    <li class="mr-5">
      <img
        class="w-75 h-auto filter grayscale"
        src="/images/theme/dev-days-newcastle.png"
        alt="laracon amsterdam logo"
      />
    </li>

    <li>
      <img
        class="w-222 h-auto filter grayscale"
        src="/images/theme/Google developer expert.png"
        alt="laracon amsterdam logo"
      />
    </li>
  </ul>

  <ul class="flex items-center justify-center sm:justify-start">
    <li class="mr-5">
      <img
        class="w-68 h-auto filter grayscale"
        src="/images/theme/laracon.png"
        alt="laracon amsterdam logo"
      />
    </li>

    <li>
      <img
        class="w-249 h-auto filter grayscale"
        src="/images/theme/serverless days.png"
        alt="laracon amsterdam logo"
      />
    </li>
  </ul>
</div>


<div class="max-w-sm p-3 m-4 rounded-lg shadow-lg">Testing tailwind</div>

<div class="max-w-sm p-3 m-4 rounded-lg shadow-lg">Testing tailwind</div>

{%- include "components/popular.njk" -%}
<p>More posts can be found in <a href="{{ '/blog/archives/' | url }}">the timeline</a>.</p>
