---
permalink: /blog/categories/
layout: layouts/home.njk
renderData:
  title: Categories
---
<h1>Categories</h1>

{% for tag in collections.tagList | sort %}
  {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
