---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Category “{{ tag }}”
  description: "You can read more about {{ tag }} on Geshan.com.np"
permalink: /blog/categories/{{ tag | slug }}/
---

<article role="article" class="md:max-w-6xl mx-auto mt-4 px-4  mb-20">
  <header class="page-header">
    <h1 class="md:text-4xl text-3xl font-bold text-gray">Category: {{tag}}</h1>
  </header>
  {% set postslist = collections[ tag ] %} {% include "postslist-h3.njk" %}
  <p class="font-body text-base">
    See
    <a href="{{ '/blog/categories/' | url }}" class="text-darkAvocado underline">all categories</a>.
  </p>
</article>
