{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<span class="glyphicon glyphicon-tags"></span>&nbsp;
<span class="categories">
  {% if post %}
    {{ post.categories | category_links }}
  {% else %}
    {{ page.categories | category_links }}
  {% endif %}
</span>
{% endunless %}

<h4>I have removed Disqus as it has no free version without ads. You can discuss about this blog on the <a href="https://www.facebook.com/geshanBlog/" target="_blank">facebook page</a>.</h4>
