{% unless site.social.visible == false %}
<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        {% if site.social.title %}{{ site.social.title }}{% else %}Follow me!{% endif %}
    </h3>
  </div>
  <div id="social_links" class="list-group">
      {% if site.social.adn %}<a class="list-group-item adn" rel="me" href="//alpha.app.net/{{ site.social.adn }}"><i class="icon-adn"></i> App.net</a>{% endif %}
      {% if site.social.dribbble %}<a class="list-group-item dribbble" href="//dribbble.com/{{ site.social.dribbble }}"><i class="icon-dribbble"></i> Dribbble</a>{% endif %}
      {% if site.social.github.user %}<a class="list-group-item github" href="//github.com/{{ site.social.github.user }}"><i class="icon-github"></i> Github</a>{% endif %}
      {% if site.social.facebook.user %}<a class="list-group-item facebook" href="//facebook.com/{{ site.social.facebook.user }}"><i class="icon-facebook-sign"></i> Facebook</a>{% endif %}
      {% if site.social.googleplus %}<a class="list-group-item gplus" href="//plus.google.com/{{ site.social.googleplus }}"><i class="icon-google-plus-sign"></i> Google+</a>{% endif %}
      {% if site.social.linkedin %}<a class="list-group-item linkedin" href="//linkedin.com/in/{{ site.social.linkedin }}"><i class="icon-linkedin-sign"></i> LinkedIn</a>{% endif %}
      {% if site.social.pinterest %}<a class="list-group-item pinterest" href="//pinterest.com/{{ site.social.pinterest }}"><i class="icon-pinterest"></i> Pinterest</a>{% endif %}
      {% if site.social.stackoverflow %}<a class="list-group-item stackoverflow" href="//stackoverflow.com/users/{{ site.social.stackoverflow }}"><i class="icon-stackexchange"></i> StackOverflow</a>{% endif %}
      {% if site.social.twitter.user %}<a class="list-group-item twitter" href="//twitter.com/{{ site.social.twitter.user }}"><i class="icon-twitter"></i> Twitter</a>{% endif %}
      {% if site.social.youtube %}<a class="list-group-item youtube" href="//youtube.com/user/{{ site.social.youtube }}"><i class="icon-youtube"></i> YouTube</a>{% endif %}
  </div>
</section>
{% endunless %}
