
<div class="entry-content">
    <div id="blog-archives" class="category">
        {% set postslist = postslist | reverse %}
        {% for post in postslist %}
        {%- if loop.index == 1  or postslist[ loop.index0 - 1 ].year != post.year -%} <h2>{{ post.year }}</h2> {%- endif -%}
                <article class="page-header">
                    <h3>
                        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
                    </h3>
                    <p class="meta text-muted"> <span class="glyphicon glyphicon-calendar"></span>
                    <time datetime="{{ date | getSitemapDate }}" data-updated="true">
                        <time class="entry-date" datetime="{{ post.date | getSitemapDate }}">
                            {{ post.date | displayDate }} . {{ helpers.getReadingTime(post.templateContent) }} min read
                        </time>
                    </time>
                    
                    <span class="glyphicon glyphicon-tags">
                    </span>&nbsp; 
                    <span class="categories">
                    </span>
                </article>

        {% endfor %}
    </div>
</div>