
<div class="entry-content">
    <div id="blog-archives" class="category">
        {% set postslist = postslist | reverse %}
        {% for post in postslist %}
        {%- if loop.index == 1  or postslist[ loop.index0 - 1 ].year != post.year -%} <h2>{{ post.year }}</h2> {%- endif -%}
                <article class="page-header" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
                    <h3 itemprop="name headline">
                        <a href="{{ post.url | url }}" itemprop="url">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
                    </h3>
                    <p class="meta text-muted"> <span class="glyphicon glyphicon-calendar"></span>
                    <time datetime="{{ date | getSitemapDate }}" data-updated="true" itemprop="datePublished dateCreated">
                        <time class="entry-date" datetime="{{ post.date | getSitemapDate }}">
                            {{ post.date | displayDate }} |
                            (about a {{ helpers.getReadingTime(post.templateContent) }} minute read)
                        </time>
                    </time>
                    
                    <span class="glyphicon glyphicon-tags">
                    </span>&nbsp; 
                    <span class="categories"> 
                        {% for tag in post.data.tags %}
                        {%- if collections.tagList.indexOf(tag) != -1 -%}
                        {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
                        <a href="{{ tagUrl | url }}">{{ tag | lower }}</a>{% if notloop.last %},{% endif %}
                        {%- endif -%}
                        {% endfor %} 
                    </span>
                </article>

        {% endfor %}
    </div>
</div>