<div class="blog-index w-11/12 md:w-full mx-auto mt-4 font-ui">
  {% for post in postslist | reverse %}
  <article class="post mb-6 border-b border-lightGray pb-6">
    <header class="page-header">
      <h2 class="font-ui font-semibold md:text-3xl text-2xl text-textColor pt-3 break-words hover:underline">
        <a href="{{ post.url }}"> {{ post.data.title }} </a>
      </h2>
      <p class="text-muted text-uppercase">
        <span class="glyphicon glyphicon-calendar"> </span>
        {% set date = post.date %} {% include "components/posted-date-time.njk" %} .
        <span class="text-darkgrey"
          >{{ helpers.getReadingTime(post.templateContent) }} min read</span
        >
      </p>
    </header>
    <div class="mt-2 font-reading font-normal text-midblack leading-7">{% excerptMore post %}</div>
    
  </article>
  {% endfor %}
  <p>More posts can be found in <a href="{{ '/blog/archives/' | url }}">the archive</a>.</p>
</div>
