<ol class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist %}
  <li>
      - <a href="{{ post.url | url }}">{% if post.title %}{{ post.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ol>
