<div class="blog-index md:w-7/12 w-11/12 mx-auto">
  {% for post in postslist | reverse %}
    <article class="post mb-6">
      <header class="page-header">
      <h2 class="font-leading font-semibold text-3xl text-darkpurple pt-3">
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h2>
        <p class="meta text-muted text-uppercase"> 
          <span class="glyphicon glyphicon-calendar">
          </span>
          {% set date = post.date %}
          {% include "components/posted-date-time.njk" %}
          . <span class='text-darkgrey'>{{ helpers.getReadingTime(post.templateContent) }} minute read</span>
        </p>
      </header>
      {% include 'components/posts-tags.njk' %}
      <div class="mt-3 font-reading font-normal text-midblack leading-7 ">
        {% excerptMore post %}
      </div>
      <footer>
        <a class="flex items-center font-semibold text-purple text-xl cursor-pointer mt-3" href="{{ post.url }}">Read post <span class='ml-4 mt-1'>→</span> </a>
      </footer>
    </article>
  {% endfor %}
</div>