<div class="blog-index">
  {% for post in postslist | reverse %}
    <article class="post">
      <header class="page-header"><h2 class="entry-title">
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
        </h2><p class="meta text-muted text-uppercase"> 
          <span class="glyphicon glyphicon-calendar">
          </span>
          {% set date = post.date %}
          {% include "components/posted-date-time.njk" %}
          . <span class='text-darkgrey'>{{ helpers.getReadingTime(post.templateContent) }}
      </header>
      <div class="entry-content clearfix">
        {% excerptMore post %}
      </div>
      <footer>
        <a class="btn btn-default" href="{{ post.url }}">Read on →</a>
      </footer>
    </article>
  {% endfor %}
</div>