<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>

<!-- shareaholic start -->
<script type="text/javascript">
    //<![CDATA[
    (function() {
        var shr = document.createElement('script');
        shr.setAttribute('data-cfasync', 'false');
        shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
        shr.type = 'text/javascript'; shr.async = 'true';
        shr.onload = shr.onreadystatechange = function() {
            var rs = this.readyState;
            if (rs && rs != 'complete' && rs != 'loaded') return;
            var site_id = '053dbd80f9ee1f48b1d3735743458511';
            try { Shareaholic.init(site_id); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(shr, s);
    })();
    //]]>
</script>
<!-- shareaholic end -->

<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.united.min.css" rel="stylesheet" type="text/css">

<meta property="og:image:width" content="450"/>
<meta property="og:image:height" content="298"/>
<meta name="p:domain_verify" content="e654c68562abebfa25c291f59d7d00e8"/>
