<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.united.min.css" rel="stylesheet" type="text/css">

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:image" content="{{ site.url }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.cover }}{% endif %}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:widgets:new-embed-design" content="on">
<meta name="twitter:site" content="@geshan">
<meta name="twitter:creator" content="@geshan">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}<meta name="twitter:description" content="{{ page.description | strip_html | condense_spaces | truncate:200 }}">{% endif %}
<meta name="twitter:image:src" content="{{ site.url }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.cover }}{% endif %}"/>

<meta name="p:domain_verify" content="e654c68562abebfa25c291f59d7d00e8"/>

<meta property="fb:pages" content="{{ site.social.facebook.page_id }}" />
<meta property="fb:app_id" content="{{ site.social.facebook.app_id }}" />
