 <h1>{{ site.author }}</h1>
 <hr>
 <p class="lead">
     Geshan is a seasoned software engineer, with more than 6 years of professional web development experience. Currently in Dubai, UAE serving Namshi as Quality and Maintenance Lead. He is focused on enterprise application architecture and methodologies. With a keen interest on REST architecture and Service Oriented Architecture (SOA) he believes in agile methods for software engineering. He is also interesting in Quality Assurance (QA) , blogging when he gets time for it is also something he likes.
</p>