 <h1>{{ site.author }}</h1>
 <hr>
 <p class="lead">
    Geshan is a seasoned software engineer, he has more than 6 years of software development experience.
    Currently in Dubai, UAE serving Namshi as Quality and Maintenance Lead. He has a keen interest on
    REST architecture, Service Oriented Architecture (SOA) and Microservices. He believes in agile methods
    for software engineering. He is also interested in Quality Assurance (QA), blogging is something he
    likes to do in his free time.
</p>
