 <h2>{{ site.author }}</h2>
 <hr>
 <p class="lead">
    Geshan is a seasoned software engineer, he has more than a decade of software engineering experience.
    Currently in Sydney, Australia serving THE ICONIC as senior software engineer. He has a keen interest on
    REST architecture, Service Oriented Architecture (SOA) and Microservices. He believes in agile methods
    for software engineering. He is also interested in Quality Assurance (QA), blogging is something he
    likes to do in his free time.
</p>
