{%- if templateClass == "tmpl-post" -%}
<h3 class="comments font-heading">Comments</h3>
<div id="disqus_thread"></div>
<button
  id="disqus_trigger"
  class="font-ui text-blackText hover:border-darkAvocado border-blacktext hover:shadow-lg border-2 transition ease-in-out delay-100 px-3 py-2 pt-2 mt-2 rounded-md text-center block h-auto text-xl"
  onclick="load_disqus()"
>
  Post a Comment
</button>
<div id="disqus_thread" aria-live="polite"></div>
{%- endif -%}
