
{%- if templateClass == "tmpl-post" -%}
  <h3 class="comments">Comments</h3>
  <div id="disqus_thread"></div>
  <button id="disqus_trigger" onclick="load_disqus()">Post a Comment</button>
  <div id="disqus_thread" aria-live="polite"></div>
{%- endif -%}
