<link rel="preconnect" href="/" crossorigin>
<link rel="preload" href="/fonts/U9MA6cuh-mLQlC4BKCtayOfARkSVo0L3MWgrTckUoXw.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
