<!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<link rel="preconnect" href="https://stats.g.doubleclick.net" crossorigin>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56310304-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-56310304-1');
</script>
