<div class="mx-auto my-4 ">
  <ul class="flex content-center justify-center text-lg p-3 shadow-lg flex-wrap">
    {% if pagination.href.previous %}
    <li class="previous list-none md:mr-4 mr-2 inline-block">
      <a
        href="{{ pagination.href.previous }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado  transition ease-in-out delay-100 px-3 py-2  rounded-md text-center block h-auto font-ui"
      >
        ←&nbsp; <span class="hidden md:inline">Previous</span> 
      </a>
    </li>
    {% endif %} {% if pagination.pageNumber - 1 > 0 %}
    <li class="list-none md:mr-4 mr-2 inline-block">
      <a
        href="/posts/{{ pagination.pageNumber - 1  }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado rounded-lg block p-2 px-3  transition ease-in-out delay-100  text-center"
      >
        {{ pagination.pageNumber - 1 }}
      </a>
    </li>
    {% endif %} {% if pagination.pageNumber > 0 %}
    <li class="list-none md:mr-4 mr-2 inline-block">
      <a
        href="/posts/{{ pagination.pageNumber }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado rounded-lg block p-2 px-3  transition ease-in-out delay-100  text-center"
      >
        {{ pagination.pageNumber }}
      </a>
    </li>
    {% endif %}
    <li class="list-none md:mr-4 mr-2 inline-block">
      <a
        href="/posts/{{ pagination.pageNumber + 1  }}"
        class="bg-darkAvocado rounded-lg block p-2 px-3 border-darkAvocado   text-white text-center"
      >
        {{ pagination.pageNumber + 1 }}
      </a>
    </li>
    {% if pagination.pageNumber + 1 < pagination.size %}
    <li class="list-none md:mr-4 mr-2 inline-block">
      <a
        href="/posts/{{ pagination.pageNumber + 2  }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado rounded-lg block p-2 px-3  transition ease-in-out delay-100  text-center font-ui"
      >
        {{ pagination.pageNumber + 2 }}
      </a>
    </li>
    {% endif %} {% if pagination.pageNumber + 2 < pagination.size %}
    <li class="list-none md:mr-4 mr-2 inline-block">
      <a
        href="/posts/{{ pagination.pageNumber + 3 }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado rounded-lg block p-2 px-3  transition ease-in-out delay-100  text-center font-ui"
      >
        {{ pagination.pageNumber + 3 }}
      </a>
    </li>
    {% endif %} {% if pagination.href.next %}
    <li class="next list-none md:mr-4 mr-2 inline-block">
      <a
        href="{{ pagination.href.next }}"
        class="text-darkAvocado bg-white border-darkAvocado hover:text-white hover:bg-darkAvocado  transition ease-in-out delay-100 px-3 py-2  rounded-md text-center block h-auto font-ui"
      >
        <span class="hidden md:inline">Next</span> &nbsp;→
      </a>
    </li>
    {% endif %}
  </ul>
</div>
