{% set postslist = collections.popularPicks %} {% if postslist.length > 0 %}
<section class="mt-12">
  <h2 class="font-ui font-bold text-3xl text-darkpurple mb-6 uppercase">Popular Picks 🔥</h2>
  <div class="space-y-4">
    {% for post in postslist %}
    <article class="border-b border-gray-200 pb-4 md:pb-6 {% if loop.index % 2 == 0 %} bg-alternateGray{% endif %}">
      <h3 class="font-ui font-semibold text-xl text-darkpurple mb-2">
        <a href="{{ post.url | url }}" class="hover:text-avocado"> {{ post.data.title }} </a>
      </h3>
      <p class="text-sm text-midgrey">
        {% set date = post.date %} {% include "components/posted-date-time.njk" %} {% if
        post.data.tags %}
        <span class="ml-2"
          >• {% for tag in post.data.tags | slice(0, 3) %}
          <a href="/blog/categories/{{ tag | slug }}/" class="text-avocado hover:underline"
            >{{ tag }}</a
          >{% if not loop.last %}, {% endif %} {% endfor %}
        </span>
        {% endif %}
      </p>
    </article>
    {% endfor %}
    {% if postslist.length == 0 %}
    <div class="py-4 border-b border-avocado pb-4 flex flex-col gap-2 font-ui">
      <p class="text-lg text-gray">No popular picks found.</p>
      <p class="text-lg text-lightGray">See all posts <a href="/posts/1" class="text-darkAvocado underline hover:underline"> here.</a></p>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
