{% if date %}
<time datetime="{{ date | getSitemapDate }}" data-updated="true">
    <time class="entry-date" datetime="{{ date | getSitemapDate }}">
      <span class="date">        
        {{ date | displayDateOnly }}
      </span>
    </time>
</time>
{% endif %}
