<div class="max-w-6xl mx-auto md:py-12 px-4">
    <h2 class="text-4xl text-darkAvocado font-heading flex-shrink-0 py-8"> <span class="text-lightGray italic">Related</span> <span class="text-blackText">Blogs</span></h2>
    {% set sortedPosts = collections.latestPosts | reverse %}
    {% set relatedTagPosts = sortedPosts | relatedPosts(page.url) %}
    {% if relatedTagPosts.length > 0 %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for post in relatedTagPosts %}
        <div class="py-4 border-b border-avocado pb-4 flex flex-col gap-2 font-ui">
            <a href="{{ post.url }}" class="font-semibold font-ui text-gray text-xl md:text-2xl">{{ post.data.title }}</a>
            <time class="font-medium text-xl text-textColor uppercase font-ui">{{ post.data.date | displayDateOnly }} &nbsp;&nbsp;&nbsp; {{ helpers.getReadingTime(post.templateContent) }} min read</time> 
            <p class="text-xl text-gray font-ui">{{ post.data.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if relatedTagPosts.length == 0 %}
   <div class="py-4 border-b border-avocado pb-4 flex flex-col gap-2 font-ui">
    <p class="text-lg text-gray">No related blogs found.</p>
    <p class="text-lg text-lightGray">See all blogs <a href="/posts/1" class="text-darkAvocado underline hover:underline"> here.</a></p>
   </div>
    {% endif %}
</div>