<link rel="manifest" href="/manifest.json" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Geshan.com.np" />
<meta name="apple-mobile-web-app-title" content="Geshan.com.np" />
<meta name="msapplication-starturl" content="/index.html" />
<meta name="theme-color" content="#fff">

{%- if helpers.getEnv() != "dev" -%}
<link rel="preload" href="/workbox-v4.3.1/workbox-sw.js" as="script">
<link rel="preload" href="/workbox-v4.3.1/workbox-core.prod.js" as="script">
<link rel="preload" href="/workbox-v4.3.1/workbox-precaching.prod.js" as="script">

<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/service-worker.js");
  }
</script>
{%- endif -%}
