<div class='flex flex-row justify-center items-center h-16 border-t-2 border-gray-100 shadow-md -mt-6 mb-12 w-screen'>
    <button type='button' id='leftBtn' onclick='scrollLft()' class='absolute z-10 top-28 left-1 text-white bg-purple border-white hover:text-purple hover:bg-white hover:border-purple rounded-full h-12 w-12 border-2 border-transparent transition ease-in-out delay-100 text-center' >
      ←
      </button>
    <ul id='scrollDiv' class=' flex items-center justify-center absolute h-12'>
    {% for tag in collections.tagList | sort %}
      {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
      <li class='mr-1 ml-5'>
       <a href="{{ tagUrl | url }}" class="tag background-lightbg mr-4 mb-4 rounded border-2 bg-gray-100 font-semibold text-darkgrey hover:text-purple px-3 py-1 text-xl border-gray-300 cursor-pointer hover:border-gray-400 whitespace-nowrap h-full">{{ tag }}</a>
      </li>
    {% endfor %}
    </ul>
     <button type='button' id='rightBtn' onclick='scrollRight()' class='absolute top-28 right-1 text-white bg-purple border-white hover:text-purple hover:bg-white hover:border-purple rounded-full h-12 w-12 border-2 border-transparent transition ease-in-out delay-100 text-center' >
      →
      </button>
  </div>