<!doctype html>
<html class="no-js" lang="en">
  <head>
    {%- include "components/meta.njk" -%}
    {%- include "components/favicons.njk" -%}
    <link href="/atom.xml" rel="alternate" title="{{ metadata.title }}" type="application/atom+xml">
    <title>{{ pagetitle or renderData.title or title or metadata.title }}</title>
    {%- include "components/fonts.njk" -%}
    <link rel="stylesheet" href="{{ '/css/tw.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {%- include "components/ga.njk" -%}
    {# {%- include "components/sw-new.njk" -%} #}
  </head>
  <body class="overflow-x-hidden font-leading">
    {%- include "components/gtm.njk" -%}
    {%- include "components/header.njk" -%}
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      <div id="main">
        <div id="content">
          <div class="row">
            <div>
                {{ content | safe }}
            </div>
            {% if page.url == '/' %}
              {% include "components/popular-tags.njk" %}
              {% include "sidebar/latest-posts.njk" %}
            {% endif %} 
            </div>           
        </div><!-- div class row close -->
      </div><!-- div id content close -->
      </div>
    </div><!-- wrap close -->
    {% include "footer/footer.njk" %}
    <!-- Current page: {{ page.url | url }} -->
    <script src="/js/all.min.js" defer></script>
  </body>
</html>
