<!doctype html>
<html class="no-js" lang="en">
  <head>
    {%- include "components/meta.njk" -%}
    {%- include "components/favicons.njk" -%}
    <link href="/atom.xml" rel="alternate" title="{{ metadata.title }}" type="application/atom+xml">
    <title>{{ pagetitle or renderData.title or title or metadata.title }}</title>
    {%- include "components/fonts.njk" -%}
    <link rel="stylesheet" href="{{ '/css/tw-006.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {%- include "components/ga.njk" -%}
    {%- include "components/statsig.njk" -%}
    {%- include "components/sw-new.njk" -%}
  </head>
  <body class="overflow-x-hidden font-leading flex flex-col min-h-screen">
    {%- include "components/gtm.njk" -%}
    <header role="banner">
      {%- include "components/header.njk" -%}
    </header>
    
      <main id="wrap" role="main" class="flex-grow md:px-0">
        <div id="content">
          <div class="row">
            <div>
                {{ content | safe }}
            </div>
            {% if page.url == '/' %}
              {% include "sidebar/latest-posts.njk" %}
              {% include "sidebar/side-projects.njk" %}
               {% include "sidebar/honest-takes.njk" %}
            {% endif %} 
            </div>           
        </div><!-- div class row close -->
      </div><!-- div id content close -->
      </main>
    
    <footer role="contentinfo">
      {% include "footer/footer.njk" %}
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    <script src="/js/all.min.js" defer></script>
  </body>
</html>
