---
layout: layouts/detail.njk
templateClass: tmpl-post
---
{% set coverImage %}{{ cover or metadata.defaultCoverImage }}{% endset %}
{% set logoUrl %}{{ "images/favicons/favicon-32x32.png" | url | absoluteUrl(metadata.url) }}{% endset %}
{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
<script type="application/ld+json">{ "@context": "https://schema.org", "@type": "BlogPosting", "headline": "{{ metadata.title }}", "alternativeHeadline": "{{ title }}", "image": "{{ coverImage | url | absoluteUrl(metadata.url) }}", "editor": "{{ metadata.author.name }}", "genre": "{{ tags[1] }}", "keywords": "{{ renderData.keywords or keywords or metadata.keywords }}", "url": "{{ absolutePostUrl }}", "datePublished": "{{ date | htmlDateString }}", "dateCreated": "{{ date | htmlDateString }}", "dateModified": "{{ date | htmlDateString }}", "description": "{{ renderData.description or description or metadata.description }}", "articleBody": "{{ content | stripTags }}", "author": { "@type": "Person", "name": "{{ metadata.author.name }}"}, "publisher": {"@type": "Organization",	"name": "{{ metadata.author.name }}","logo": { "@type": "ImageObject", "url": "{{ logoUrl }}"}},"mainEntityOfPage": { "@type": "WebPage", "@id": "{{ absolutePostUrl }}"}}</script>
    <!-- breadcrumbs -->
    <div class="mt-12 text-lg max-w-6xl mx-auto md:px-4 sm:px-4 px-0">
      <ul class="flex items-center">
        <li class="text-gray-400 pr-1 flex items-center">
          <a class="hover:cursor-pointer" href="./index.html">Home</a>
        </li>
        <li class="flex items-center">
          <img src="/images/caret-right.svg" alt="caret right" />
        </li>
        <li class="text-gray-400 pr-1 flex items-center">
          <a class="hover:cursor-pointer" href="./lisitng.html">Posts</a>
        </li>
        <li class="flex items-center">
          <img src="/images/caret-right.svg" alt="caret right" />
        </li>
        <li class="text-purple pr-1 flex items-center">
          {{ title }}
        </li>
      </ul>
    </div>
    <!-- blog article -->
<div class="mt-12 max-w-6xl mx-auto pb-8 md:px-4 sm:px-4 px-0 relative">
  <div class="grid-cols-12 grid gap-15">

    <!-- article left -->
    <div class="col-span-12 md:col-span-7">
                <!-- bread crumbs -->
          <div class="flex">
            <span
              class="
                background-lightbg
                mr-2
                mb-4
                rounded
                border-2
                bg-gray-100
                font-semibold
                text-darkgrey
                hover:text-purple
                px-3
                py-1
                text-md
                border-gray-300
                cursor-pointer
                hover:border-gray-400
              "
              >nodejs</span
            >
            <span
              class="
                background-lightbg
                mr-2
                mb-4
                rounded
                border-2
                bg-gray-100
                font-semibold
                text-darkgrey
                hover:text-purple
                px-3
                py-1
                text-md
                border-gray-300
                cursor-pointer
                hover:border-gray-400
              "
              >javascript</span
            >
          </div>
      <h1 class="text-7xl font-bold text-darkpurple pb-3">{{ title }}</h1>
      <p class="meta text-muted">
      {% include "components/posted-date-time.njk" %} | (about a {{ helpers.getReadingTime(content) }} minute <i class="fas fa-glasses" title="read"></i>)
      </p>
      <div class="mt-7">
          {{ content | safe }}
      </div>
      <div> 
          <p class="meta text-muted">
            <span class="glyphicon glyphicon-user"></span>
            <span class="byline author vcard"><i class="fas fa-user" title="Posted By"></i> <span class="fn">{{ metadata.author.name }}</span></span> | 
            <span class="glyphicon glyphicon-calendar"></span>
            {% include "components/posted-date-time.njk" %}
            {% include "components/share.njk" %}
          </p>
          <ul class="meta text-muted pager">
              {% if prevPost.url %}
                <li class="previous"><a href="{{ prevPost.url }}" title="Previous Post: {{ prevPost.data.title }}">« {{ prevPost.data.title }}</a></li>
              {% endif %}
              {% if nextPost.url %}
                <li class="next"><a href="{{ nextPost.url }}" title="Next Post: {{ nextPost.data.title }}">{{ nextPost.data.title }} »</a></li>
              {% endif %}
          </ul>
      </div>
      <div>
        {% include "components/disqus.njk" %}
      </div>
    </div>
    <!-- article right -->
    <div class="col-span-12 md:col-span-5 mt-20 mx-auto sm:mr-auto">
      <!-- advertisment -->
      <img src="/images/carbon-add.png" alt="carbon advertisment" />
    </div>
  </div>
</div>