---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% set coverImage %}{{ cover or metadata.defaultCoverImage }}{% endset %}
{% set logoUrl %}{{ "images/favicons/favicon-32x32.png" | url | absoluteUrl(metadata.url) }}{% endset %}
{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
<script type="application/ld+json">{ "@context": "https://schema.org", "@type": "BlogPosting", "headline": "{{ metadata.title }}", "alternativeHeadline": "{{ title }}", "image": "{{ coverImage | url | absoluteUrl(metadata.url) }}", "editor": "{{ metadata.author.name }}", "genre": "{{ tags[1] }}", "keywords": "{{ renderData.keywords or keywords or metadata.keywords }}", "url": "{{ absolutePostUrl }}", "datePublished": "{{ date | htmlDateString }}", "dateCreated": "{{ date | htmlDateString }}", "dateModified": "{{ date | htmlDateString }}", "description": "{{ renderData.description or description or metadata.description }}", "articleBody": "{{ content | stripTags }}", "author": { "@type": "Person", "name": "{{ metadata.author.name }}"}, "publisher": {"@type": "Organization",	"name": "{{ metadata.author.name }}","logo": { "@type": "ImageObject", "url": "{{ logoUrl }}"}},"mainEntityOfPage": { "@type": "WebPage", "@id": "{{ absolutePostUrl }}"}}</script>
<article class="hentry">
    <header class="page-header">
    <h1 class="entry-title">{{ title }}</h1>
    <p class="meta text-muted">
    {% include "components/posted-date-time.njk" %} | (about a {{ helpers.getReadingTime(content) }} minute read)
    </p>
    </header>
    <div class="entry-content clearfix">
        {{ content | safe }}
    </div>
    <footer>
        <p class="meta text-muted">
          <span class="glyphicon glyphicon-user"></span>
          <span class="byline author vcard">Posted by <span class="fn">{{ metadata.author.name }}</span></span> | 
          <span class="glyphicon glyphicon-calendar"></span>
          {% include "components/posted-date-time.njk" %}
          {% include "components/share.njk" %}
        </p>
        <ul class="meta text-muted pager">
            {% if prevPost.url %}
              <li class="previous"><a href="{{ prevPost.url }}" title="Previous Post: {{ prevPost.data.title }}">« {{ prevPost.data.title }}</a></li>
            {% endif %}
            {% if nextPost.url %}
              <li class="next"><a href="{{ nextPost.url }}" title="Next Post: {{ nextPost.data.title }}">{{ nextPost.data.title }} »</a></li>
            {% endif %}
        </ul>
    </footer>
</article>
<section>
    {% include "components/disqus.njk" %}
</section>
