<section class="panel panel-default mb-6">
    <div class="panel-heading">
        <h3 class="panel-title"></h3></div>
    <div id="social_links" class="list-group">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CEBIP5QY&placement=geshancomnp" id="_carbonads_js"></script>
    </div>
</section>
