<section class="panel panel-default">
    <script type="text/javascript">
      flagsmith.init({
        environmentID:"nzSwVvSBKPXat8gM6guipa",
        onChange: (oldFlags, params) => {
          const { isFromServer } = params;
          // Check for a feature
          if (flagsmith.hasFeature("show_ads")) {
            console.log("Show ads flag is on, showing ads");
            let adScript = document.createElement("script");
            adScript.setAttribute("async", "true");
            adScript.setAttribute("src", "//cdn.carbonads.com/carbon.js?serve=CEBIP5QY&placement=geshancomnp");
            adScript.setAttribute("id", "_carbonads_js");
            adScript.setAttribute("type","text/javascript");
            document.getElementById("ads").appendChild(adScript);
          }
        }
      });
    </script>
    <div class="panel-heading">
        <h3 class="panel-title"></h3></div>
    <div id="ads" class="list-group">
    </div>
</section>
