<section class="panel panel-default w-full mb-6">
  <div class="panel-heading mb-2">
       <h5 class="panel-title font-semibold uppercase md:mb-4 font-heading text-gray">
Categories</h5>
  </div>
  <div class="list-group flex flex-col justify-center content-center">
    {%- set allowedTags = ['devops', 'misc', 'software engineering', 'talks', 'web development'] -%}
    {%- for tag in collections.tagList | sort -%} {%- if tag | lower in allowedTags -%} {%- set
    tagUrl -%}/blog/categories/{{ tag | slug }}/{%- endset -%}
    <a
      class="list-group-item{% if tagUrl == page.url %} active{% endif %} mb-5 border-b-2 border-neutralGray hover:border-avocado font-body font-normal text-gray w-full text-base"
      href="{{ tagUrl }}"
      title="{{ tag }}"
    >
      {{ tag | lower }}
      <span
        class="badge inline-block bg-darkAvocado px-2 py-1 rounded-full text-white mb-2 float-right"
        >{{ collections[ tag ] | length }}</span
      >
    </a>

    {%- endif -%} {%- endfor -%}
    <a
      class="list-group-item{% if tagUrl == page.url %} active{% endif %} font-body font-normal text-gray border-b-2 border-neutralGray hover:border-avocado pb-2 mb-5"
      href="/blog/categories/"
      title="All the categories"
    >
      <span class="badge"></span>All categories</a
    >
  </div>
</section>
