<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Find me on</h3></div>
    <div id="social_links" class="list-group">
      <a class="list-group-item twitter" href="//twitter.com/geshan"><i class="icon-twitter"></i> Twitter</a>
      <a class="list-group-item linkedin" href="//linkedin.com/in/geshan"><i class="icon-linkedin-sign"></i> LinkedIn</a> 
      <a class="list-group-item github" href="//github.com/geshan"><i class="icon-github"></i> Github</a>
      <a class="list-group-item stackoverflow" href="//stackoverflow.com/users/112849/geshan"><i class="icon-stackexchange"></i> StackOverflow</a>
    </div>
</section>
