<!-- Honest Takes Section -->
<section class="pt-16 px-4 md:px-8 bg-gradient-to-t from-white via-lightAvocado to-avocado mb-20">
  <div class="max-w-6xl mx-auto">
    <h1 class="text-3xl md:text-5xl font-heading font-medium pb-12">
      <span class="text-lightGray italic"> Honest</span>
      <span class="text-blackText">Takes</span>
    </h1>

    <!-- Mobile Testimonials -->
    <div class="grid grid-cols-1 md:hidden items-start gap-6">
      {% for testimonial in honestTakes.mobile %}
      <div
        class="bg-white rounded-2xl shadow-md font-body relative overflow-hidden"
      >
        <p
          class="text-md md:text-xl text-black font-regular mb-6 px-8 py-8"
        >
          {{ testimonial.quote }}
        </p>
        <div class="relative z-10">
          <i
            class="fas fa-quote-left text-quoteGray absolute -bottom-1 left-6 text-3xl font-serif leading-none"
          ></i>
        </div>
        <div
          class="flex items-center justify-between border-t border-neutralGray pt-4 p-6 py-3 text-textColor text-lg z-50 overflow-hidden"
        >
          <div class="text-md md:text-xl">
            <p class="font-semibold text-gray">{{ testimonial.author }}</p>
            <p class="text-lightGray font-regular text-md md:text-xl">{{ testimonial.title }}</p>
          </div>
          <div>
            <p class="text-lightGray font-bold uppercase text-md md:text-xl">{{ testimonial.company }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Laptop/Desktop Testimonials -->
    <div class="hidden md:grid grid-cols-2 items-start gap-6">
      {% for testimonial in honestTakes.laptop %}
      <div
        class="{% if testimonial.isLarge %}md:col-span-2{% endif %} bg-white rounded-2xl shadow-md font-body relative overflow-hidden py-4"
      >
        <p
          class="text-xl text-black font-regular mb-6 px-12 py-8"
        >
          {{ testimonial.quote }}
        </p>
        <div class="relative z-10">
          <i
            class="fas fa-quote-left text-quoteGray absolute -bottom-1 left-6 text-5xl font-serif leading-none"
          ></i>
        </div>
        <div
          class="flex items-center justify-between border-t border-neutralGray pt-4 p-12 py-4 text-textColor text-lg z-50 overflow-hidden"
        >
          <div class="text-xl">
            <p class="font-semibold text-gray">{{ testimonial.author }}</p>
            <p class="text-lightGray font-regular">{{ testimonial.title }}</p>
          </div>
          <div>
            <p class="text-lightGray font-bold uppercase text-xl">{{ testimonial.company }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
