<section class="panel panel-default w-11/12 mb-6">
    <div class="panel-heading">
        <h3 class="panel-title">Buy me a Coffee</h3>
    </div>
    <div id="kofi" class="list-group flex flex-col">
      <a href='https://ko-fi.com/N4N7MCO9' target='_blank'><img height='36' style='border:0px;height:36px;' src='/images/generic/kofi5.jpg' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    </div>
</section>
