<section class="panel panel-default mb-6">
  <div class="panel-heading mb-2">
    <h5 class="panel-title font-regular uppercase md:mb-4 font-heading text-gray tracking-[0.04em] leading-[100%] md:leading-[100%]">
      Popular Picks
    </h5>
  </div>
  <div class="list-group flex flex-col justify-center content-center">
    {% set popularPosts = popular | head(5) %} {% for post in popularPosts %}    
    <div class="border-b border-neutralGray pt-5 pb-3 {% if loop.index % 2 == 0 %} bg-alternateGray{% endif %}">
      <a
        class="list-group-item mb-5 hover:border-avocado font-ui font-semibold text-gray w-full text-md pb-3 tracking-[-0.01em] leading-[132%] md:leading-[132%]"
        href="{{ post.url | url }}"
        title="{{ post.data.title }}"
      >
        {{ post.data.title }}
      </a>
      <p class="text-textColor text-md  py-2 font-ui font-medium uppercase">
        {{ post.data.date | displayDateOnly }} &nbsp;&nbsp;&nbsp; {{
        helpers.getReadingTime(post.templateContent) }} MIN READ
      </p>
    </div>
    {% endfor %} {% if popularPosts.length == 0 %}
    <p class="text-textColor text-md  font-ui">No popular picks available yet.</p>
    {% endif %}
  </div>
</section>
