<section class="panel panel-default mb-6 w-10/12 md:w-6/12">
  <div class="panel-heading mb-2">
    <h3 class="panel-title">Read more on</h3>
  </div>
  <div class="list-group flex flex-col justify-center content-center ">
    {%- set allowedTags = ['devops', 'misc', 'software engineering', 'talks', 'web development'] -%}
    {%- for tag in collections.tagList | sort -%}
      {%- if tag | lower in allowedTags -%}
        {%- set tagUrl -%}/blog/categories/{{ tag | slug }}/{%- endset -%}
          <a class="list-group-item{% if tagUrl == page.url %} active{% endif %} mb-5 border-b-2 border-darkgrey hover:border-purple font-reading font-normal text-midblack w-full text-base " href="{{ tagUrl }}" title="{{ tag }}">
            {{ tag | lower }}
              <span class="badge inline-block bg-indigo-500 px-2 py-1 rounded-full text-white mb-2 float-right">{{ collections[ tag ] | length }}</span>
          </a>
      {%- endif -%}
    {%- endfor -%}
    <a
      class="list-group-item{% if tagUrl == page.url %} active{% endif %} font-reading font-normal text-midblack "
      href="/blog/categories/"
      title="All the categories">
      <span class="badge"></span>All categories</a>
  </div>
</section>