<section class="panel panel-default w-11/12 md:w-8/12 mb-6">
    <div class="panel-heading">
        <h3 class="panel-title">Side Projects</h3></div>
    <div id="side_projects" class="list-group flex flex-col">
      <a class="list-group-item font-reading font-normal text-midblack mb-3" href="https://app.autechjobs.ml"><i class="fas fa-briefcase"></i> AU Tech Jobs</a>
      <a class="list-group-item font-reading font-normal text-midblack mb-3 " href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fgeshan.com.np%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=nepal_news_en&tw_p=followbutton"><i class="fa fa-twitter"></i> Nepal News English</a> 
    </div>
</section>
