<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Side Projects</h3></div>
    <div id="side_projects" class="list-group">
      <a class="list-group-item" href="https://app.autechjobs.ml"><i class="icon-twitter"></i> AU Tech Jobs</a>
      <a class="list-group-item" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fgeshan.com.np%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=nepal_news_en&tw_p=followbutton"><i class="fa fa-twitter"></i> Nepal News English</a> 
    </div>
</section>
