@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Open+Sans&display=swap');

body{
    font-family: 'Open Sans', 'sans-serif';
}

article h2{
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 400;
    font-size: 3.4rem;
}
article img:not(.no-border){
    margin-top: 3rem;
}
.navbar-default{
    background-color:unset;
    border: none;
    padding-top: 1.2rem;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    color: #000;
    background-color: unset;
}

.navbar-brand{
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 800;
}

.date{
    text-transform: none;
}

.page-header p a{
    color: #000;
    text-decoration: underline;
    text-transform: none;
    transition: all 0.4s ease;
}
.page-header p a:hover{
    color: #4dd599;
}

.entry-title a{
    color: #000;
}

article .entry-content a{
    color: #000;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.page-header{
    border-bottom: none;
}

article img:not(.no-border){
    box-shadow: none;
    border: 0;
    border-radius: 0;
}
.panel-default{
    margin-left: 9rem;
    margin-top: 7rem;
    border: none;
}

.panel-heading{
    border-bottom: none;
}

.panel-default > .panel-heading{
    background-color:#fff;
    text-transform: uppercase;
    padding: 0;
}

.panel-title{
    font-size: 1.4rem;
}

.list-group-item{
    padding: 12px 0;
}
a.list-group-item{
    transition: all 0.4s ease;
}

a.list-group-item:focus, a.list-group-item:hover{
    background-color: #fff;
    color: #4dd599;
}

article footer a{
    float: right;
}

.form-control{
    border-radius: 0;
    box-shadow: unset;
}

.btn-default{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    color: #4dd599;
    transition: all 0.8s ease;
    padding: 1rem 2.6rem;
    /* text-decoration: underline; */
}
.btn-default:hover{
    background-color: #4dd599;
    border: 1px solid #4dd599;

}

.badge{
    background-color: #9bc0af;
}
a{
    color: #4dd599;
}

.pager{
    margin-top: 8rem;
}

.pager li a{
    padding: 1rem 2.6rem;
    border-radius: 0;
    color: #4dd599;
    border: 1px solid #4dd599;
    transition: all 0.4s ease;
}
.pager li a:hover{
    color: #fff;
    background: #4dd599;
    border: 1px solid #4dd599;
}

.pager .disabled a{
    color: #adadad;
    border: 1px solid #adadad;
}
.pager .disabled a:hover{
    color: #adadad;
    border: 1px solid #adadad;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    background-color: #4dd599;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #000;
}